/**
 * Main stylesheet
 * Additional styles can be added here
 * The main style.css in the root contains theme header info required by WordPress
 */

/* Additional custom styles can go here */
/* Import other stylesheets if needed */
/* @import url('components.css'); */
/* @import url('utilities.css'); */
